<!DOCTYPE html>
{% extends 'base.html' %}

{% block user_name %}
<b>{{ user.name }}</b>
{% endblock %}

{% block content %}

<h1 class="mt-4" style="margin-bottom: 20px;">About me!</h1>
<div class="card mb-4">
    <div class="card-header">
        <i class="fa fa-plus-circle" style="margin-right: 10px;"></i>
        Usage
    </div>
    <div class="container">
        <div class="container-fluid">
          <p style="margin-top: 30px;margin-bottom: 30px;text-align:justify;">
            The <b>Carbon Meter</b> web application aims to calculate carbon emissions for a company based on three key areas: energy usage, waste, and business travel. The calculations will be done monthly for each company. Additionally, an admin dashboard will display the results using pie charts, bar charts, and tables, showing the historical data for the past month, three months, and six months. This tool will help companies track and manage their carbon emissions over time.
          </p>
        </div>

    </div>
</div>

{% endblock %}
