<!DOCTYPE html>
{% extends 'base.html' %}

{% block user_name %}
<b>{{ user.name }}</b>
{% endblock %}

{% block content %}
<h1 class="mt-4">Business Travel</h1>
  <ol class="breadcrumb mb-sm-0" style="background-color:white;font-size: small;margin-top: -10px">
    <li class="breadcrumb-item">Calculate</li>
    <li class="breadcrumb-item active">Business Travel</li>
  </ol>
<form method="POST">
<div class="row" style="margin-top: 10px;">
  <div class="col-lg-8">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-calculator" style="margin-right: 5px;"></i>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="container-fluid">
 
              <div class="form-row">
                <div class="form-group col-md-12">
                  <!--start-->
                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label for="month">Month</label>
                        <select name="month" class="form-control" id="bt_month">
                        <option selected>Choose...</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                      </select>
                      <span id="month-error" class="error-message"></span>
                      </div>

                      <div class="form-group col-md-3">
                        <label for="year">Year</label>
                        <select name="year" class="form-control" id="bt_year">
                          <option selected>Choose...</option>
                          <option value="2024">2024</option>
                          <option value="2025">2025</option>
                          <option value="2026">2026</option>
                          <option value="2027">2027</option>
                          <option value="2028">2028</option>
                          <option value="2029">2029</option>
                          <option value="2030">2030</option>
                        </select>
                        <span id="year-error" class="error-message"></span>
                      </div>

                      <div class="form-group col-md-6">
                        <label for="company">Company</label>
                        <select name="company" class="form-control" id="bt_company">
                        <option selected>Choose...</option>
                          {% for company in companies %}
                            <option value="{{company.id}}">{{ company.name }}</option>
                          {% endfor %}
                        </select>
                          <a href="/add_company"><i style="opacity: 0.7; font-size: small;">Add new</i></a><br>
                          <span id="company-error" class="error-message"></span>
                      </div>

                    </div>

                  <!--end--> 


                <div id="form1" class="form">
                    <div class="form-row" style="margin-top: -15px;">
                      <div class="form-group col-md-6">
                        <label for="b_travel">Monthly Business Travel <i style="opacity: 0.7;">(km)</i></label>
                        <input type="text" class="form-control" name="b_travel" placeholder="Business travel" id="b_travel">
                        <span id="mBT-error" class="error-message"></span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="fuel_eff">Avg. fuel efficiency<i style="opacity: 0.7;">(L/100 km)</i></label>
                        <input type="text" class="form-control" name="fuel_eff" placeholder="Fuel efficiency" id="fuel_eff">
                        <span id="aFe-error" class="error-message"></span>
                      </div>
                    </div>
                    <button type="button" style="background-color:#7B808B;color: white;" class="btn btn-md" onclick="calculateTravel()">Calculate</button> &nbsp;
                    <input type="submit" value="Save" class="btn btn-primary btn-md" id="btn_Save" disabled>
                </div>
                </div>
              </div>   
       
      </div>
       
      </div>
      </div>
    </div>
</div>

  <div class="col-md-4">
    <div class="row-cols-md-10">
      <div class="jumbotron" style="background-color:#7B808B;color: white;">
        Your calculated result based on: <br>
        <ul>
          <li>Business Travel: <span id="result_bTravel"></span></li>
          <li>Fuel Efficiency: <span id="result_fEff"></span></li>
      
        </ul>
        Total carbon footprint:
        <h4><b><span id="totalFootprint" name="totalResult"></span> kgCO2</b></h4><br>
        <input type="hidden" id="hiddenField" name="resultFootPrint" value="">
      </div>
    </div>

</div>

</div>
</form>
<script>
  function calculateTravel() {
    var x = validateEnergyUsageForm()
    if(x == true){
      // Get input values
      var bTravel = document.getElementById('b_travel').value;
      var fEfficency = document.getElementById('fuel_eff').value;

      // Calculate total carbon footprint (as an example, assuming simple conversion rates)
      var b_travelResult = (bTravel) * (1 / fEfficency) * (2.31); // Placeholder formula

      //var totalCarbonFootprint = (electricityBill * 0.0005) + (gasBill * 0.0053) + (fuelBill * 2.32); // Placeholder formula

            // Display results
      document.getElementById('result_bTravel').textContent = bTravel + " km";
      document.getElementById('result_fEff').textContent = fEfficency + " L/100"
      document.getElementById('totalFootprint').textContent = b_travelResult.toFixed(2);
      document.getElementById('hiddenField').value = b_travelResult

      document.getElementById('btn_Save').disabled = false;
    }
    else{
      document.getElementById('btn_Save').disabled = true;
    }
  }

  function validateEnergyUsageForm() {
    const bt_month = document.getElementById("bt_month").value;
    const bt_year = document.getElementById("bt_year").value;
    const bt_company = document.getElementById("bt_company").value;
    const b_travel = document.getElementById("b_travel").value;
    const fuel_eff = document.getElementById("fuel_eff").value;
  
    const monthError = document.getElementById("month-error");
    const yearError = document.getElementById("year-error");
    const companyError = document.getElementById("company-error");
    const mBTError = document.getElementById("mBT-error");
    const aFeError = document.getElementById("aFe-error");
  
    monthError.textContent = "";
    yearError.textContent = "";
    companyError.textContent = "";
    mBTError.textContent = "";
    aFeError.textContent = "";
  
    let isValid = true;
  
    if (bt_month === "" || bt_month === "Choose...") {
      monthError.textContent = "Please select a month.";
      isValid = false;
    }
  
    if (bt_year === "" || bt_year === "Choose...") {
      yearError.textContent = "Please select a year.";
      isValid = false;
    }
  
    if (bt_company === "" || bt_company === "Choose...") {
      companyError.textContent = "Please select a company.";
      isValid = false;
    }
  
    if (b_travel === "" || isNaN(b_travel)) {
      mBTError.textContent = "Please enter a valid electricity bill.";
      isValid = false;
    }
  
    if (fuel_eff === "" || isNaN(fuel_eff)) {
      aFeError.textContent = "Please enter a valid gas bill.";        isValid = false;
    }
  return isValid;
  }
</script>
{% endblock %}
