<!DOCTYPE html>
{% extends 'base.html' %}

{% block user_name %}
<b>{{ user.name }}</b>
{% endblock %}

{% block content %}

<div class="form-row">
        <div class="form-group col-md-6">
            <h1 class="mt-4" style="margin-bottom: 20px;">Dashboard</h1>
        </div>
        <div class="form-group col-md-2" style="margin-top: 40px;">
            <select name="month" class="form-control" id="timeRangeSelect">
            <option selected value="last_month">Last month</option>
            <option value="last_3_months">Last 3 months</option>
            <option value="last_6_months">Last 6 months</option>
        </select>
</div>
<div class="form-group col-md-3" style="margin-top: 40px;">
    <select name="company" class="form-control" id="bt_company">
        <option value="0" selected>All companies</option>
        {% for company in companies %}
                <option value="{{company.id}}">{{ company.name }}</option>
                {% endfor %}
                </select>
</div>
            
    </div>
  <!--Chart and Table start-->
<div class="row">
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-pie me-1"></i>
                Pie Chart
            </div>
            <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-pie me-1"></i>
                Bar Chart
            </div>
            <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
        </div>
    </div>
</div>
<div class="card-header">
    <i class="fas fa-table me-1"></i>
</div>
<div class="card-body" id="myTable">
    <table id="datatablesSimple" class="table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Sector</th>
                <th>Energy</th>
                <th>Waste</th>
                <th>Business Travel</th>
                <th>Month</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            <tr><td></td><td></td><td></td></tr>
            <!-- Rows will be inserted here -->
        </tbody>
    </table>
    
</div>

{% endblock %}

{% block js %}
<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script>

let myChart;
let myLineChart;

function fetchDataAndUpdateChart() {
    fetch('/get_data', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json', // Ensures the server knows you're expecting JSON
    },
  })
    .then((response) => {
        console.log(response)
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      return response.json(); // Parse the JSON data from the response
    })
    .then((data) => {

        if (myChart) {
            myChart.data.labels = data.labels;  // Update the labels
            myChart.data.label = data.label;
            myChart.data.datasets[0].data = data.values;  // Update the values
            myChart.data.datasets[0].backgroundColor = data.color;  // Update the colors

            // Update the chart after data change
            myChart.update();
        }
        if (myLineChart){
            myLineChart.data.labels = data.labels;  // Update the labels
            myLineChart.data.label = data.label;
            myLineChart.data.datasets[0].data = data.values;  // Update the values
            myLineChart.data.datasets[0].backgroundColor = data.color;  // Update the colors
            myLineChart.update();
        }
      console.log(data); // Use the data as needed
    })
    .catch((error) => {
      console.error('Error:', error); // Handle errors
    });

}
//Table Data
function fetchTableData() {
    fetch('/get_table_data', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json', // Ensures the server knows you're expecting JSON
    },
  })
    .then((response) => {
        console.log(response)
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      return response.json(); // Parse the JSON data from the response
    })
    .then((data) => {
      populateTable(data);
      console.log(data); // Use the data as needed

    })
    .catch((error) => {
      console.error('Error:', error); // Handle errors
    });

}

function populateTable(data){
        
        const tbody = $('#datatablesSimple tbody');
        tbody.empty();  // Clear existing table rows

        // Log the data to see if it's correct
        console.log("Received Data:", data);

        // Ensure the data is an array
        if (!Array.isArray(data)) {
            console.error('Data is not an array:', data);
            return;
        }

        // Loop through the data and add rows to the table
        data.forEach(item => {
            // Log individual item to confirm it's being processed
            console.log("Processing item:", item);

            // Check if the necessary fields exist in the item
            if (!item.name || !item.sector || item.energy === undefined || item.fuel === undefined || item.waste === undefined || !item.month || !item.year) {
                console.error('Missing data for item:', item);
            }

            const row = $('<tr>');
            row.append('<td>' + item.name + '</td>');
            row.append('<td>' + item.sector + '</td>');
            row.append('<td>' + item.energy.toFixed(2) + '</td>');
            row.append('<td>' + item.waste.toFixed(2) + '</td>');
            row.append('<td>' + item.fuel.toFixed(2) + '</td>');
            row.append('<td>' + item.month + '</td>');
            row.append('<td>' + item.year + '</td>');
            tbody.append(row);
            
        });

        //Reinitialize DataTable to apply sorting, paging, etc.
        // if ($.fn.dataTable.isDataTable('#datatablesSimple')) {
        //     $('#datatablesSimple').DataTable().clear().destroy();  // Clear the previous DataTable instance
        // }
        $('#datatablesSimple').DataTable();  // Initialize DataTable
        
    }
    
//Onload
window.onload = function() {
    
    const ctx = document.getElementById('myPieChart').getContext('2d');

    // Create a new Chart.js chart with initial empty data
    myChart = new Chart(ctx, {
        type: 'pie',  // Pie chart type
        data: {
            labels: [],  // Empty labels initially
            datasets: [{
                label: 'kgCO2',
                data: [],  // Empty values initially
                backgroundColor: [],  // Empty colors initially
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top'
                }
            }
        }
    });

        // Bar Chart Example
    var ctx_b = document.getElementById("myBarChart").getContext('2d');
    myLineChart = new Chart(ctx_b, {
    type: 'bar',
    data: {
        labels: [],
        datasets: [{
        label: 'kgCO2',
        backgroundColor: [],
        borderColor: [],
        data: [],
        }],
    },
    options: {
        scales: {
        xAxes: [{
            time: {
            unit: 'month'
            },
            gridLines: {
            display: false
            },
            ticks: {
            maxTicksLimit: 5
            }
        }],
        yAxes: [{
            ticks: {
            min: 0,
            max: 200000,
            maxTicksLimit: 24
            },
            gridLines: {
            display: true
            }
        }],
        },
        legend: {
        display: false
        }
    }
    });

    fetchDataAndUpdateChart();
    fetchTableData();
    
    
}
function fetchTableDataL3M() {
    fetch('/get_table_data_l3m', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json', // Ensures the server knows you're expecting JSON
    },
  })
    .then((response) => {
        console.log(response)
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      return response.json(); // Parse the JSON data from the response
    })
    .then((data) => {
        //populateTable(data);
        console.log("Htwat Lar Table")
        console.log(data); // Use the data as needed
        populateTable(data);

    })
    .catch((error) => {
      console.error('Error:', error); // Handle errors
    });

}

//table 6 months
function fetchTableDataL6M() {
    fetch('/get_table_data_l6m', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json', // Ensures the server knows you're expecting JSON
    },
  })
    .then((response) => {
        console.log(response)
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      return response.json(); // Parse the JSON data from the response
    })
    .then((data) => {
        //populateTable(data);
        console.log("Htwat Lar Table")
        console.log(data); // Use the data as needed
        populateTable(data);

    })
    .catch((error) => {
      console.error('Error:', error); // Handle errors
    });

}


//
const m_selectBox = document.getElementById('timeRangeSelect')
m_selectBox.addEventListener('change', (event) =>{
    monthChange = document.getElementById("timeRangeSelect").value;
    company = document.getElementById("bt_company").value;

    if(monthChange === "last_month" && company === "0")
    {
        fetch('/get_data', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json', // Ensures the server knows you're expecting JSON
            },
        })
            .then((response) => {
                console.log(response)
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json(); // Parse the JSON data from the response
            })
            .then((data) => {

                if (myChart) {
                    myChart.data.labels = data.labels;  // Update the labels
                    myChart.data.label = data.label;
                    myChart.data.datasets[0].data = data.values;  // Update the values
                    myChart.data.datasets[0].backgroundColor = data.color;  // Update the colors

                    // Update the chart after data change
                    myChart.update();
                }
                if (myLineChart) {
                    myLineChart.data.labels = data.labels;  // Update the labels
                    myLineChart.data.label = data.label;
                    myLineChart.data.datasets[0].data = data.values;  // Update the values
                    myLineChart.data.datasets[0].backgroundColor = data.color;  // Update the colors
                    myLineChart.update();
                }
                fetchTableData();
                console.log(data); // Use the data as needed
            })
            .catch((error) => {
                console.error('Error:', error); // Handle errors
            });
    }
    if(monthChange === "last_3_months" && company === "0")
    {
        // fetch('/calculate_l3_ac', {
        fetch(`/calculate_l3_ac?selected_Month=${encodeURIComponent(monthChange)}&company=${encodeURIComponent(company)}`, {
        method: 'GET',
            headers: {
                'Content-Type': 'application/json', // Ensures the server knows you're expecting JSON
            },
        })
            .then((response) => {
                console.log(response)
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json(); // Parse the JSON data from the response
            })
            .then((data) => {
                const labels = data.map(item => item.labels);
                const values = data.map(item => item.values);
                const colors = data.map(item => item.color);

                if (myChart) {
                    myChart.data.labels = labels;  // Update the labels
                    myChart.data.label = 'kgco2';
                    myChart.data.datasets[0].data = values;  // Update the values
                    myChart.data.datasets[0].backgroundColor = colors;  // Update the colors

                    // Update the chart after data change
                    myChart.update();
                }
                if (myLineChart) {
                    myLineChart.data.labels = labels;  // Update the labels
                    myLineChart.data.label = 'kgCO2';
                    myLineChart.data.datasets[0].data = values;  // Update the values
                    myLineChart.data.datasets[0].backgroundColor = colors;  // Update the colors
                    myLineChart.update();
                }
                fetchTableDataL3M()
            })
            .catch((error) => {
                console.error('Error:', error); // Handle errors
            });
    }
    if(monthChange === "last_6_months" && company === "0")
    {
        fetch('/calculate_l6_ac', {
        method: 'GET',
            headers: {
                'Content-Type': 'application/json', // Ensures the server knows you're expecting JSON
            },
        })
            .then((response) => {
                console.log(response)
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json(); // Parse the JSON data from the response
            })
            .then((data) => {
                const labels = data.map(item => item.labels);
                const values = data.map(item => item.values);
                const colors = data.map(item => item.color);

                if (myChart) {
                    myChart.data.labels = labels;  // Update the labels
                    myChart.data.label = 'kgco2';
                    myChart.data.datasets[0].data = values;  // Update the values
                    myChart.data.datasets[0].backgroundColor = colors;  // Update the colors

                    // Update the chart after data change
                    myChart.update();
                }
                if (myLineChart) {
                    myLineChart.data.labels = labels;  // Update the labels
                    myLineChart.data.label = 'kgCO2';
                    myLineChart.data.datasets[0].data = values;  // Update the values
                    myLineChart.data.datasets[0].backgroundColor = colors;  // Update the colors
                    myLineChart.update();
                }
                // fetchTableDataL3M()
                fetchTableDataL6M()
            })
            .catch((error) => {
                console.error('Error:', error); // Handle errors
            });
    }
});
</script>
{% endblock %}

